<template>
  <header class="header"><NavBar /></header>
</template>

<script>
import NavBar from "./NavBar";

export default {
  name: "Header",
  components: { NavBar },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.nav-bar {
  display: flex;
  flex-direction: row;
  margin: auto;
}
</style>
