<template>
  <Header />
</template>

<script>
import Header from "./components/Header";

export default {
  name: "App",
  components: {
    Header,
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@font-face {
  font-family: "Banny-Bold";
  src: url("./assets/fonts/Banny-BoldRound.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}</style>
