<template>
  <nav class="nav-bar">
    <NavItem v-for="item in items" :key="item.name" :item='item'
    />
  </nav>
</template>

<script>
import NavItem from "./NavItem";
import icon from "../../../assets/img/header-weel.png"

export default {
  name: "NavBar",
  components: { NavItem },
  data() {
    return {
      items: [
        { name: "HOME", type: 'text' },
        { name: "ABOUT", type: 'text' },
        { name: "TEAM", type: 'text' },
        { name: "BOOKING", type: 'text' },
        { name: 'IMAGE', type: "image", src: icon },
        { name: "MENU", type: 'text' },
        { name: "GALERIE", type: 'text' },
        { name: "EVENTS", type: 'text' },
        { name: "CONTACT", type: 'text' },
      ],
    };
  },
};
// './src/assets/img/header-weel.png'
</script>

<style lang="scss">
.nav-bar {
  display: flex;
  flex-direction: row;
  margin: auto;
}
</style>
