<template>
  <a v-if="item.type === 'text'" class="text" href="#">{{ item.name }}</a>
  <a v-else-if="item.type === 'image'"
    ><img :src="item.src" :alt="item.src"
  /></a>
</template>

<script>
export default {
  name: "NavItem",
  props: ['item'],
};
</script>

<style lang="scss">
.text {
  display: flex;
  flex-direction: row;
  margin: auto;
}
</style>
